<template>
  <div class="wrapper">
    <form action="#">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" v-model="value.name">
      </div>

      <div class="form-group">
        <label for="name">Phone</label>
        <input type="text" class="form-control" v-model="value.phone">
      </div>

      <div class="form-group">
        <label for="name">Address</label>
        <input type="text" class="form-control" v-model="value.address">
      </div>
    </form>
  </div>
</template>

<script>
export default {
  props: ['value'],
  data() {
    return {
      customer: {
        name: '',
        phone: '',
        address: ''
      }
    }
  },
  // watch: {
  //   customer: {
  //     handler(value) {
  //       let customer = {
  //         name: value.name,
  //         phone: value.phone,
  //         address: value.address
  //       }
  //       this.$emit('customerDetailsChanged', customer);
  //     }, deep: true
  //   }
  // }
}
</script>
